{% extends "base.html" %}

{% block title %}Yearwise Statistics{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Yearwise Sales Statistics</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Year</th>
                                <th>Total Sales</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for stat in stats %}
                            <tr>
                                <td>{{ stat[0] }}</td>
                                <td>₹{{ stat[1] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}